body {
    font-family: Arial, sans-serif;
    margin: 10px;
    gap: 10px;
}
body.container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
}

.header {
    grid-area: header;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
    background: #fff;
}

.header img {
    height: 60px;
    margin-right: 1rem;
}

.header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
}

.nav {
    grid-area: nav;
    border: 1px solid black;
    width: 100%;
    background: #ffffff;
}

.menu-principal {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.menu-principal li a {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;
    width: 100%;
    background: #f9f9f9;
}

.menu-categorias {
    border: 1px solid black;
    list-style: none;
    padding: 1rem;
    margin: 0;
    background: #ffffff;
    border-radius: 8px;
    min-width: 180px;
}

.product-container {
    border: 1px solid black;
    padding: 1rem;
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}
.product-item {
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}
.product-item img{
    width: 100px;
    height: 100px;
    margin: 5pt;
}
.product-item a{
    text-decoration: none;
    font-size: 10pt;
    color: #1a0c00;
}
.product-item span{
    font-size: 11pt;
    color: #1a0c00;
}
.footer {
    grid-area: footer;
    border: 1px solid black;
    background: #ffffff;
}
.footer-content {
    display: flex;
    justify-content: space-evenly;
}
.footer-section {
    flex: 1;
    margin: 0 1rem;
}
.footer-section a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #000000;
}